# Speeds up local testing
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        resources:
          limits:
            cpu: 1500m
            memory: 1700Mi
          requests:
            cpu: 100m
            memory: 75Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-console-validator
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: web-console-validator
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 50Mi
