apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        env:
        - name: ASYNC_SIGNAL_DISABLED
          value: "false"
        - name: MEM_STATS_PERIOD
          value: "10m"
        - name: VSPHERE_NETWORKING
          value: "false"
        - name: FSS_WCP_INSTANCE_STORAGE
          value: "true"
        - name: NETWORK_PROVIDER
          value: "NAMED"
        - name: FSS_WCP_VMSERVICE_ISO_SUPPORT
          value: "false"
        - name: FSS_WCP_VMSERVICE_RESIZE
          value: "false"
        - name: FSS_WCP_VMSERVICE_RESIZE_CPU_MEMORY
          value: "false"
        - name: FSS_PODVMONSTRETCHEDSUPERVISOR
          value: "false"
        - name: FSS_WCP_MOBILITY_VM_IMPORT_NEW_NET
          value: "false"
        - name: FSS_WCP_VMSERVICE_INCREMENTAL_RESTORE
          value: "false"
        - name: FSS_STORAGE_QUOTA_M2
          value: "false"
        - name: FSS_WCP_VMSERVICE_BYOK
          value: "false"
        - name: FSS_WCP_SUPERVISOR_ASYNC_UPGRADE
          value: "false"

        #
        # Feature state switch flags beneath this line are enabled on main and
        # only retained in this file because it is used by internal testing to
        # determine the state of the feature. Since this is used by older
        # branches as well, the flags must remain, otherwise the absence of the
        # flag indicates a feature is not present or disabled.
        #
        - name: FSS_WCP_VMSERVICE_BACKUPRESTORE
          value: "true"
        - name: FSS_WCP_Unified_TKG
          value: "true"
        - name: FSS_WCP_VMSERVICE_V1ALPHA2
          value: "true"
        - name: FSS_WCP_VM_CLASS_AS_CONFIG
          value: "true"
        - name: FSS_WCP_VM_CLASS_AS_CONFIG_DAYNDATE
          value: "true"
        - name: FSS_WCP_VM_IMAGE_REGISTRY
          value: "true"
        - name: FSS_WCP_NAMESPACED_VM_CLASS
          value: "true"
        - name: FSS_WCP_WINDOWS_SYSPREP
          value: "true"
        - name: FSS_WCP_VMSERVICE_K8S_WORKLOAD_MGMT_API
          value: "true"
        - name: FSS_WCP_WORKLOAD_DOMAIN_ISOLATION
          value: "true"

