apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
- kustomizeconfig.yaml

resources:
- bases/vmoperator.vmware.com_clustervirtualmachineimages.yaml
- bases/vmoperator.vmware.com_contentsources.yaml
- bases/vmoperator.vmware.com_contentsourcebindings.yaml
- bases/vmoperator.vmware.com_contentlibraryproviders.yaml
- bases/vmoperator.vmware.com_virtualmachines.yaml
- bases/vmoperator.vmware.com_virtualmachineclasses.yaml
- bases/vmoperator.vmware.com_virtualmachineclassinstances.yaml
- bases/vmoperator.vmware.com_virtualmachineclassbindings.yaml
- bases/vmoperator.vmware.com_virtualmachinesetresourcepolicies.yaml
- bases/vmoperator.vmware.com_virtualmachineservices.yaml
- bases/vmoperator.vmware.com_virtualmachineimages.yaml
- bases/vmoperator.vmware.com_virtualmachineimagecaches.yaml
- bases/vmoperator.vmware.com_virtualmachinepublishrequests.yaml
- bases/vmoperator.vmware.com_webconsolerequests.yaml
- bases/vmoperator.vmware.com_virtualmachinewebconsolerequests.yaml
- bases/vmoperator.vmware.com_virtualmachinereplicasets.yaml
- bases/vmoperator.vmware.com_virtualmachinegroups.yaml
- bases/vmoperator.vmware.com_virtualmachinesnapshots.yaml

patches:
- path: patches/crd_preserveUnknownFields.yaml
  target:
    kind: CustomResourceDefinition

# [WEBHOOK]
- path: patches/webhook_in_clustervirtualmachineimages.yaml
- path: patches/webhook_in_virtualmachineclasses.yaml
- path: patches/webhook_in_virtualmachineimages.yaml
- path: patches/webhook_in_virtualmachinepublishrequests.yaml
- path: patches/webhook_in_virtualmachines.yaml
- path: patches/webhook_in_virtualmachineservices.yaml
- path: patches/webhook_in_virtualmachinesetresourcepolicies.yaml

# [CERTMANAGER]
- path: patches/cainjection_in_clustervirtualmachineimages.yaml
- path: patches/cainjection_in_virtualmachineclasses.yaml
- path: patches/cainjection_in_virtualmachineimages.yaml
- path: patches/cainjection_in_virtualmachinepublishrequests.yaml
- path: patches/cainjection_in_virtualmachines.yaml
- path: patches/cainjection_in_virtualmachineservices.yaml
- path: patches/cainjection_in_virtualmachinesetresourcepolicies.yaml
