---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: policyevaluations.vsphere.policy.vmware.com
spec:
  group: vsphere.policy.vmware.com
  names:
    kind: PolicyEvaluation
    listKind: PolicyEvaluationList
    plural: policyevaluations
    shortNames:
    - policyeval
    singular: policyevaluation
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          PolicyEvaluation is the schema for the PolicyEvaluation API and
          represents the desired state and observed status of a PolicyEvaluation
          resource.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PolicyEvaluationSpec defines the desired state of PolicyEvaluation.
            properties:
              image:
                description: Image describes information about the image used by the
                  workload.
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    description: Labels describe the labels from the workload's image.
                    type: object
                  name:
                    description: Name describes the name of the workload's image.
                    type: string
                type: object
              policies:
                description: |-
                  Policies describes the policies that should be explicitly considered as
                  part of this evaluation.
                items:
                  description: |-
                    LocalObjectRef describes a reference to another object in the same
                    namespace as the referrer.
                  properties:
                    apiVersion:
                      description: |-
                        APIVersion defines the versioned schema of this representation of an
                        object. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
                      type: string
                    kind:
                      description: |-
                        Kind is a string value representing the REST resource this object
                        represents.
                        Servers may infer this from the endpoint the client submits requests to.
                        Cannot be updated.
                        In CamelCase.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                      type: string
                    name:
                      description: |-
                        Name refers to a unique resource in the current namespace.
                        More info: http://kubernetes.io/docs/user-guide/identifiers#names
                      type: string
                  required:
                  - apiVersion
                  - kind
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                - kind
                x-kubernetes-list-type: map
              workload:
                description: Workload descriptions information about the workload.
                properties:
                  guest:
                    description: Guest describes information about the workload's
                      guest.
                    properties:
                      guestFamily:
                        description: |-
                          GuestFamily describes the guest family of the workload.

                          Valid values are: Darwin, Linux, Netware, Other, Solaris, and Windows.
                        enum:
                        - Darwin
                        - Linux
                        - Netware
                        - Other
                        - Solaris
                        - Windows
                        type: string
                      guestID:
                        description: |-
                          GuestID describes the guest ID of the workload.

                          Please the following location for the valid values:
                          https://developer.broadcom.com/xapis/vsphere-web-services-api/latest/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.
                        type: string
                    type: object
                  labels:
                    additionalProperties:
                      type: string
                    description: Labels describe the labels from the workload.
                    type: object
                type: object
            type: object
          status:
            description: PolicyEvaluationStatus defines the observed state of PolicyEvaluation.
            properties:
              conditions:
                description: |-
                  Conditions describes any conditions associated with this object.

                  The Ready condition will be present once this request has been evaluated.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: |-
                  ObservedGeneration describes the value of the metadata.generation field
                  the last time this object was reconciled by its primary controller.
                format: int64
                type: integer
              policies:
                description: Policies specifies the list of policies to apply.
                items:
                  properties:
                    apiVersion:
                      description: APIVersion describes the API version of the policy
                        object to apply.
                      type: string
                    kind:
                      description: Kind describes the kind of the policy object to
                        apply.
                      type: string
                    name:
                      description: Name describes the name of the policy object to
                        apply.
                      type: string
                    observedGeneration:
                      description: |-
                        Generation describes the value of the metadata.generation field
                        of the policy object when it was applied.
                      format: int64
                      type: integer
                    tags:
                      description: |-
                        Tags specifies the UUIDs of any vSphere tags that may be required to
                        activate the policy.
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: set
                  required:
                  - apiVersion
                  - kind
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                - kind
                x-kubernetes-list-type: map
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
