mkdocs >= 1.6.1
mkdocs-material >= 9.6.14
pymdown-extensions >= 10.15
pygments >= 2.19.1
mkdocs-git-committers-plugin-2 >= 2.5.0
mkdocs-git-revision-date-localized-plugin >= 1.4.5
mkdocs-markdownextradata-plugin >= 0.2.6
