mkdocs >= 1.5.3
mkdocs-material >= 9.4.2
pymdown-extensions >= 10.3
pygments >= 2.16.1
mkdocs-git-committers-plugin-2 >= 1.2.0
mkdocs-git-revision-date-localized-plugin >= 1.2.0
mkdocs-markdownextradata-plugin >= 0.2.5
